/AcessoUsuario.class
/Cliente.class
/Compra.class
/Empresa.class
/Estoque.class
/Fornecedor.class
/Funcionario.class
/Meta.class
/Oferta.class
/Produto.class
/Usuario.class
/Venda.class
/VendaItem.class
